*{
    margin: 0px;
    padding: 0px;
}
body{
    font-size: 10px;
    width: 100vw;
    height: 100vh;
    background-color: #f2efff;
    background-image: url("Images/indexBG.jpg");
    background-size: 100% 100%;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    align-items: center;
}
.field{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    border: 0.1em solid red;
    width: 21em;
    height: 27em;
    background-color: #ffffff73;
    font-size: 1.4em;
    border-radius: 2em;
}
.Lname{
    margin-top: 1em;
    margin-bottom: 1em;
    font-family:sans-serif;
    font-weight: bold;
    color: #fff;
    text-shadow: 2px 2px 5px red;
    font-size: 2.2em;
}
.iFream{
    border-radius: 0.5em;
    background-color: #fff;
    border: 0.1em solid red;
    padding: 0.5em;
    margin: 1em;
    display: flex;
    flex-direction: column;
    width: 18em;
}
.inputBox,#submitBTN{
    width: 14em;
    font-size: 1.2em;
    padding: 0.5em;
    margin-top: 0.2em;
    border: none;
    outline: none;
}
#submitBTN{
    border-radius: 1em;
    height: 2.4em;
    color: #ff0000;
    border: 2px solid #ff0000;
    background-color: #ffffff53;
    transition-duration: 300ms;
}
#submitBTN:hover{
    background-color: #fff;
    color: blue;
    border-color: blue;
    border-radius: 0.5em;
}


@media (max-width: 410px)
{
    body{
        font-size: 2.5vw;
    }
    .field{
        margin-top: -5vh;
        height: 29em;
    }
}