*{
    margin: 0px;
    padding: 0px;
}
body{
    font-size: 10px;
}
Body{
    width: 100vw;
    height: 100vh;
    background-color: #f2efff;
    background-image: url("Images/indexBG.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    align-items: center;
}
.field{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    border: 0.1rem solid red;
    width: 21rem;
    height: 25rem;
    background-color: #ffffff73;
    font-size: 1.4rem;
    border-radius: 2rem;
}
.Lname{
    margin-top: 1.2rem;
    margin-bottom: 1.2rem;
    font-family:sans-serif;
    font-weight: bold;
    color: #fff;
    text-shadow: 2px 2px 5px red;
}
.iFream{
    border-radius: 0.5rem;
    background-color: #fff;
    border: 0.1rem solid red;
    padding: 0.5rem;
    margin: 1rem;
    display: flex;
    flex-direction: column;
    width: 18rem;
}
.inputBox,#submitBTN{
    width: 17rem;
    font-size: 1.2rem;
    padding: 0.5rem;
    margin-top: 0.2rem;
    border: none;
    outline: none;
}
#submitBTN{
    
}
