*{
    margin: 0px;
    padding: 0px;
}

/* Preloader */
.preloader {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 9999;
    transition: opacity 0.5s ease;
  }
  
  .preloader.hide {
    opacity: 0;
    pointer-events: none;
  }
  
  .preloader-bar {
    width: 100px;
    height: 4px;
    background-color: rgb(255, 0, 0);
    position: relative;
    overflow: hidden;
  }
  
  .preloader-bar:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: #ccc;
    animation: preloader-progress 2s linear infinite;
  }
  
  @keyframes preloader-progress {
    0% {
        transform: translateX(-100%);
    }
    100% {
        transform: translateX(100%);
    }
  }

  
  
body{
    font-size: 10px;
    width: 100vw;
    height: 100vh;
    background-color: #f2efff;
    background-image: url("Images/indexBG.jpg");
    background-size: 100% 100%;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    align-items: center;
}
.field{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    border: 0.1em solid red;
    width: 21em;
    height: 27em;
    background-color: #ffffff73;
    font-size: 1.4em;
    border-radius: 2em;
}
.Lname{
    margin-top: 1em;
    margin-bottom: 1em;
    font-family:sans-serif;
    font-weight: bold;
    color: #fff;
    text-shadow: 2px 2px 5px red;
    font-size: 2.2em;
}
.iFream{
    border-radius: 0.5em;
    background-color: #fff;
    border: 0.1em solid red;
    padding: 0.5em;
    margin: 1em;
    display: flex;
    flex-direction: column;
    width: 18em;
}
.inputBox,#submitBTN{
    width: 14em;
    font-size: 1.2em;
    padding: 0.5em;
    margin-top: 0.2em;
    border: none;
    outline: none;
    background-color: #fff;
}
#submitBTN{
    border-radius: 1em;
    height: 2.4em;
    color: #ff0000;
    border: 2px solid #ff0000;
    background-color: #ffffff53;
    transition-duration: 300ms;
}
#submitBTN:hover{
    background-color: #fff;
    color: blue;
    border-color: blue;
    border-radius: 0.5em;
}

.alertBox{
    position: fixed;
    background-color: #efe6ff;
    width: 29.66em;
    height: 20em;
    align-items: center;
    display: none;
    transition-duration: 1s;
    flex-direction: column;
    border-radius: 1em;
    border: 0.21em solid grey;
    animation: openAnimation 100ms ease-in-out 0s 1;
}
.alertimg{
    font-size: 4em;
    margin:0.4em 0.8em;
}
.alertDisplay{
    font-size: 2em;
    font-family: monospace;
}
.alertmessage{
    font-size: 1.3em;
    font-family: cursive;
    color: red;
}
.alertButton{
    width: 2.5em;
    height: 2.5em;
    bottom: 0.7em;
    right: 0.7em;
    position: absolute;
    background-color: rgb(206, 206, 255);
    border: none;
    border-radius: 0.4em;
    animation: openAnimation 100ms ease-in 0s 1;
}
@keyframes openAnimation {
    0%{
        font-size: 0px;
        height: 0px;
        width: 0px;
    }
}
@media (max-width: 410px)
{
    body{
        font-size: 2.5vw;
    }
    .field{
        margin-top: -5vh;
        height: 29em;
    }
}
